/* by ewhnds */


/* General style */

body {
  font-family: Roboto, sans-serif;
}
.navbar {
  border-radius: 0px 0px 0px 0px !important;
}

/* Page */

.page {
  height: auto;
  font-size: 20px;
  padding-bottom: 20px;
}

/* Mods */

.padding-tab {
  padding-top: 20px;
}
.tab-pane {
  padding-top: 10px;
}
.tab-pane a {
  width: 100px;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
}
.jumbotron {
  color: #222222;
}
